.ob-bot {
	position: absolute;
	z-index: 2;
}

/* variants */

.ob-bot[data-variant="a"] {
	background-color: Green;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
}

.ob-bot[data-variant="b"] {
	background-color: Red;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
}

.ob-bot[data-variant="c"] {
	background-color: Blue;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
}

/* status effects */

.ob-bot[data-direction="S"] {}

.ob-bot[data-acceleration^="0"] {}

.ob-bot[data-shooting^="0"] {}

/* health bar */

.ob-bot:before {
	content: "";
	display: block;
	position: absolute;
	height: 6px;
	top: -10px;
	left: 4px;
	right: 4px;
}

.ob-bot[data-health^="9"]:before {
	display: none;
}

.ob-bot[data-health^="8"]:before {
	background-image: linear-gradient(90deg, lime 0%, lime 88%, transparent 88%);
}

.ob-bot[data-health^="7"]:before {
	background-image: linear-gradient(90deg, lime 0%, lime 77%, transparent 77%);
}

.ob-bot[data-health^="6"]:before {
	background-image: linear-gradient(90deg, lime 0%, lime 66%, transparent 66%);
}

.ob-bot[data-health^="5"]:before {
	background-image: linear-gradient(90deg, yellow 0%, yellow 55%, transparent 55%);
}

.ob-bot[data-health^="4"]:before {
	background-image: linear-gradient(90deg, yellow 0%, yellow 44%, transparent 44%);
}

.ob-bot[data-health^="3"]:before {
	background-image: linear-gradient(90deg, yellow 0%, yellow 33%, transparent 33%);
}

.ob-bot[data-health^="2"]:before {
	background-image: linear-gradient(90deg, red 0%, red 22%, transparent 22%);
}

.ob-bot[data-health^="1"]:before {
	background-image: linear-gradient(90deg, red 0%, red 11%, transparent 11%);
}

.ob-bot[data-health^="0"]:before {
	display: none;
}