.ob-tile {
	position: absolute;
	z-index: 1;
}

/* effects layers */

.ob-tile:before {
	content: "";
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.ob-tile:after {
	background-image: linear-gradient(180deg, transparent 0%, transparent 25%, #000 25%);
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

[data-light^="0"]:after { opacity: 0.45; }
[data-light^="1"]:after { opacity: 0.40; }
[data-light^="2"]:after { opacity: 0.35; }
[data-light^="3"]:after { opacity: 0.30; }
[data-light^="4"]:after { opacity: 0.25; }
[data-light^="5"]:after { opacity: 0.20; }
[data-light^="6"]:after { opacity: 0.15; }
[data-light^="7"]:after { opacity: 0.10; }
[data-light^="8"]:after { opacity: 0.05; }
[data-light^="9"]:after { opacity: 0.00; }

/* walls */

[data-variant="A"] {
	background-image: linear-gradient(180deg, crimson 0%, crimson 50%, maroon 50%);
}

[data-variant="A"]:after {
	background-color: #000;
}

[data-variant="B"] {
	background-color: Crimson;
}

[data-variant="B"]:after {
	background-color: #000;
}

/* floor */

[data-variant="C"] {
	background-image: linear-gradient(180deg, transparent 0%, transparent 25%, teal 25%);
}

/* gate */

[data-variant="D"] {
	background-image: linear-gradient(180deg, transparent 0%, transparent 25%, magenta 25%);
}

/* door */

[data-variant="E"] {
	background-image: linear-gradient(180deg, transparent 0%, transparent 15%, crimson 15%, crimson 35%, maroon 35%, maroon 85%, teal 85%);
}

[data-variant="E"][data-status="closed"]:after {
	background-image: linear-gradient(180deg, transparent 0%, transparent 15%, #000 15%);
}

[data-variant="E"][data-status="open"] {
	background-image: linear-gradient(180deg, transparent 0%, transparent 25%, teal 25%, teal 65%, maroon 65%, maroon 85%, teal 85%);
}

/* floor trigger */

[data-variant="G"] {
	background-image: linear-gradient(180deg, transparent 0%, transparent 25%, green 25%);
}

[data-variant="G"][data-status="on"] {
	background-image: linear-gradient(180deg, transparent 0%, transparent 25%, olivedsdw 25%);
}

/* entrance */

[data-variant="Y"] {
	background-image: linear-gradient(180deg, transparent 0%, transparent 25%, orange 25%);
}

/* exit */

[data-variant="Z"] {
	background-image: linear-gradient(180deg, transparent 0%, transparent 25%, purple 25%);
}