.ob-tile {
  position: absolute;
  opacity: 0.7;
  z-index: 1;
}

[data-variant="A"] {
  background-color: crimson;
}

[data-variant="B"] {
  background-color: teal;
}

[data-variant="X"] {
  background-color: orange;
}