.ob-tile {
  position: absolute;
  opacity: 0.7;
  z-index: 1;
}

[data-variant="0"] {
  background-color: Yellow;
}

[data-variant="A"] {
  background-color: Red;
}

[data-variant="B"] {
  background-color: Green;
}

[data-variant="X"] {
  background-color: Cyan;
}